*{
    padding: 0;
    margin: 0;
}

#game{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background-color: yellow;
    margin: auto;
    overflow: hidden;
}

#block{
    width: 50px;
    height: 500px;
    background-color: green;
    position: relative;
    left: 400px;
    animation: block 3s infinite linear;
}

@keyframes block{
    0%{left:600px}
    100%{left:-50px}
}

#hole{
    width: 50px;
    height: 250px;
    background-color:yellow;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 3s infinite linear;
}

#character{
    width:20px;
    height:20px;
    /* background-image: url("Abhi.jpg"); */
    /* background-color: red; */
    position: absolute;
    top: 100px;    
}

img{
    position: absolute;
    width:50px;
    height:50px;
}